/*

Theme Name: Anchor Inn
Theme URI: http://progressionstudios.com/
Author: Progression Studios
Author URI: http://themeforest.net/user/ProgressionStudios
Description: ThemeForest Premium File
Version: 1.5
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: right-sidebar, flexible-width, custom-menu, editor-style, featured-images, full-width-template, theme-options, translation-ready
Text Domain: progression

*/

/*  Table of Contents 

01. HTML5 ✰ BOILERPLATE RESET FILE
02. COLORS AND FONTS
	A. LOGO WIDTH
	B. BACKGROUND COLORS
	C. FONT COLORS
	D. FONT FAMILIES
03. PRIMARY STYLES
	A. DEFAULT STYLES 
	B. CSS3 TRANSITIONS
04. MAIN CONTAINERS
	A. HEADER STYLES 
	B. MAIN CONTAINER STYLES
05. HOMEPAGE STYLES
06. FOOTER STYLES
07. BLOG STYLES
08. ROOMS STYLES
09. SIDEBAR & WIDGET STYLES
10. BUTTON STYLES
11. FEATURED SLIDER and PAGE TITLE
12. CONTACT STYLES
13. NAVIGATION
14. DEFAULT GRID
15. SOCIAL ICONS
16. PRINT STYLES
17. LIGHTBOX STYLES

*/

/*
=============================================== 01. HTML5 ✰ BOILERPLATE RESET FILE ===============================================
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.lt-ie8 .clearfix {visibility:hidden; width:0;height:0; clear:both;}
.bypostauthor {}
.gallery-caption, .wp-caption-text {font-size:12px; font-style:italic; padding-top:2px;}
.sticky {background:#f7f7f7; padding:20px;}
video, audio {max-width:100%; width:100%; }

/*
=============================================== 02. COLORS AND FONTS ===============================================
*/

/* -------------------- A. LOGO WIDTH -------------------- */
 /* body #logo, body #logo img {width:116px;  }  Set your Logo width */
/* nav {margin-left:116px; }  Adjust Margin-left as needed to fit wider logo  */
/* #contact-header-text {margin-left:116px; }  Adjust Margin-left as needed to fit wider logo  */


/* -------------------- B. BACKGROUND COLORS -------------------- */
/* Header Background */
header, .sf-menu ul {background-color:#262626;}
/* Address Bar Background */
#contact-header {background-color:#345489;}
/* Page Title Background */
#page-title {background-color:#254272;}
/* Body Background */
#main {background-color:#f7f4ed;}
/* Footer Backgrounds */
footer {background-color:#2b2c2e;}
body, #copyright { background-color:#262729;}


/* -------------------- C. FONT COLORS -------------------- */
/* Default Link Color & Hover Color */
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, h5.price-rooms, .post-meta a:hover {color:#246fc1;}
a:hover {color:#22558c;}
/* Navigation Colors */
.sf-menu a, .sf-menu a:visited  {color:#ffffff; /* Default Menu Color */ }
.sf-menu li.current-menu-item a, .sf-menu li.current-menu-item a:visited {color:#f6bd22;} /* Menu Highlighted Color */
.sf-menu a:hover, .sf-menu li a:hover, .sf-menu a:hover, .sf-menu a:visited:hover, .sf-menu li.sfHover a, .sf-menu li.sfHover a:visited {
	color:#f6bd22; /* Menu Hover Color */
}
/* Address & Reservation Line Color */
#contact-header, #contact-header a {color:#a4bee9;}
/* Slider Caption Color */
.caption-text {color:#f6bd22;}
.flex-caption .caption-highlight { color:#ffffff;}
/* Page Title Colors */
h2.title-anchor {color:#246fc1;}
/* Headings Colors */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color:#4e4e4e; }
/* Footer Colors */
footer h5, footer h6, footer h3, footer h4, footer h1 {color:#ffffff;}
footer a {color:#d9c45a;}
footer a:hover {color:#ffee99;}



/* Header Icon Color */
a.rss-ico .genericon, a.facebook-ico .genericon, a.twitter-ico .genericon, a.vimeo-ico .genericon, a.youtube-ico .genericon, a.google-ico .genericon,
a.pinterest-ico .genericon, a.dribbble-ico .genericon, a.wordpress-ico .genericon, a.flickr-ico .genericon, a.linkedin-ico .genericon, a.tumblr-ico .genericon
{color:#2b2b2b;}



/* -------------------- D. FONT FAMILIES -------------------- 
.sf-menu, #contact-header, h1, h2, h3, h4, h5, h6, #main #sidebar h5, .caption-highlight { 
	font-family: 'Tinos', serif;
}

body {
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
*/


/*
=============================================== 03. PRIMARY STYLES ===============================================
*/
/* -------------------- A. DEFAULT STYLES -------------------- */
body {
	font-size: 14px; line-height: 1.4; 
	color:#777777;
}
footer {color:#999999;}
a {text-decoration:none;}
body a img, body a {outline:none !important;}
a:hover img {}
p {padding-top:0px; margin:0px;}
p, ul, ol {margin-bottom: 14px;}
ul, ol {margin-left:0px; padding-left:16px;}
img {max-width: 100%;height: auto;  width:auto;}
.alignnone, .alignleft, .alignright, .aligncenter {max-width:100% !important;}
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px;  line-height:1.2; font-weight:400;}
h3 a {color:#2f2f2f; }
h1 {font-size:40px;  margin-bottom:5px;  }
h2 {font-size:26px; font-weight:normal; margin-bottom:5px;  }
h2.title-anchor {text-transform:uppercase;  border-bottom:1px solid #e5e5e5;  padding-bottom:8px; margin-bottom:25px;}
h2.title-anchor.title-heading {font-size:30px;}
h3 {font-size:22px; margin-bottom:10px;}
h4 {font-size:20px; margin-bottom:10px;}
h5 {font-size:18px; margin-bottom:12px; }
footer h5, #sidebar h5 {text-transform:uppercase;}
#sidebar h5 {margin-bottom:14px;}
h6 {font-size:15px; margin-bottom:6px; }
h6.post-type-header {font-size:18px;}
hr {background:transparent; border-bottom:1px solid #e5e5e5; border-top:none; margin:30px 0px;}
ul.checkmark, ul.arrow {padding-left:0px;}
ul.checkmark li, ul.arrow li {list-style:none; padding-left:18px;}
ul.checkmark li {background:url(images/checkmark.png) 0px 2px no-repeat;}
ul.arrow li {background:url(images/sidebar-arrow.png) -4px 0px no-repeat;}
.alignright {float:right; margin:0 0 10px 20px;}
.alignleft {float:left; margin:0px 20px 10px 0px;}
.aligncenter {text-align:center;  margin:0px auto 10px auto; display:block; }
blockquote {background:url(images/blockquote.png) 0px 0px no-repeat; padding-left:40px; font-style:italic; line-height:1.8;}
pre {border:1px solid #ddd; padding:7px 15px; background:#fff; overflow:auto; word-wrap: break-word; line-height:14px; margin-bottom:15px;}


/* -------------------- B. CSS3 TRANSITIONS -------------------- */
a, .genericon  { 
	-webkit-transition-duration: 300ms;
	-webkit-transition-property: color, background, opacity;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 300ms;
	-moz-transition-property: color, background, opacity;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 300ms;
	-o-transition-property: color, background, opacity;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	transition-property: color, background, opacity;
}
.sf-menu a, input#mc-embedded-subscribe, a.progression-button, .button-anchor, input.submit, .wpcf7 input.wpcf7-submit, #anchor-check-in  .wufoo input.submit, a.more-link  { 
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: color, background, opacity;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 200ms;
	-moz-transition-property: color, background, opacity;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-duration: 200ms;
	-o-transition-property: color, background, opacity;
	-o-transition-timing-function: ease-in-out;
	transition-duration: 200ms;
	transition-property: color, background, opacity;
}
.flex-control-paging li a {-webkit-transition-duration: 0ms; -moz-transition-duration: 0ms; -o-transition-duration: 0ms; transition-duration: 0ms;}



/*
=============================================== 04. MAIN CONTAINERS ===============================================
*/
/* -------------------- A. HEADER STYLES -------------------- */
header {position:relative; width:100%; z-index:7; background-image:url(images/header.png);background-repeat:repeat-x;  background-position:bottom left; 
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
body #logo, body #logo img { max-width:100%;} 
body #logo {float:left; margin:0px; padding:0px; border:none;  position:absolute; top:0px; left:0px;}
.lt-ie8 body #logo {position:static;}
header .width-container {position:relative;}
body #logo img { height: auto; }
#contact-header {
	font-size:15px;
	padding:16px 0px; 
	position:relative;
	z-index:6;
}
#contact-header {-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);}

#contact-header-text {padding-left:26px;}
#page-title-page {height:150px;}


/* ---- SEARCH FORM ----*/
#header-search {float:right;}
#header-search .icons {display:inline-block; position:relative; top:-2px; padding-right:12px;}
#header-search .searchform {display:inline-block; padding:28px 0px 15px 0px;}
.lt-ie8 #header-search .searchform {display:inline;}
.searchform input {padding:6px 0px; color:#afafaf;}
.searchform .assistive-text, .searchform input#searchsubmit {display:none;}
.searchform #s {
	-webkit-transition-duration: 300ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 300ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 300ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	font-size:13px;
	padding-left:11px;
	padding-right:30px;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	width: 160px;
	background-color:#3b3c3e;
	background-color: rgba(255, 255, 255, 0.08);
	background-image:url(images/search-magnify.png);
	background-position:right -2px;
	background-repeat:no-repeat;
	border:none;
}
.searchform #s:focus {
	width:175px;
}
.lt-ie9 .searchform #s:focus {width: 160px;}

#sidebar .searchform #s {width:74%; background-color:#f1f1f1; padding-top:6px; padding-bottom:6px;}
#sidebar .searchform #s:focus {width:78%;}
#sidebar .searchform input { color:#666666;}

/* -------------------- B. MAIN CONTAINER STYLES -------------------- */
.width-container {width:1140px; margin: 0 auto;}
#main {padding-bottom:8px; background-image:url(images/main.png); background-repeat:repeat-x; background-position:top left;}
.content-container-anchor {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	padding:30px;
	margin-bottom:40px;
	background-color:#ffffff; 
}
#sidebar .content-container-anchor { padding-bottom:1px;}
.overlay-container-anchor { position:relative; top:-40px; margin-bottom:0px; z-index:5;}

#content-container {float:left; width:67.5%;}
#sidebar {float:right; width:30%;}

/*
=============================================== 05. HOMEPAGE STYLES ===============================================
*/
.home-child-boxes img {padding-bottom:15px;}

body.home .wpcf7 {margin-bottom:-18px; position:relative;}
body.home .wpcf7 input.wpcf7-not-valid {border-color:red;}
body.home .wpcf7 .wpcf7-not-valid-tip {display:none !important;}

body.home .wpcf7 input {
	float:left;
	display:block;
	margin:0 7px 0 0;
	padding:12px 8px 12px 11px;
	font-size:14px;
	width:105px;
	color: #4e4e4e;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url(images/date-icon.png),  -webkit-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background:url(images/date-icon.png), linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-image: url(images/date-icon.png),-moz-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-position: center right; background-repeat: no-repeat;
}

body.home .wpcf7 .your-name input, body.home .wpcf7 .your-email input {
	background-image:  -webkit-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background:linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-image: -moz-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	width:150px;
}


body.home .wpcf7 select {
	-webkit-appearance: none; -moz-appearance: normal; appearance: normal;
	display:block;float:left;
	padding:11px 7px 11px 8px;
	-webkit-padding-start: 12px; -webkit-padding-end: 47px; -webkit-user-select: none;-moz-user-select: none;
	margin:0 7px 0 0;
	font-size:14px;
	color: #4e4e4e;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url(images/select-arrow.png), -webkit-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background:linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-image: -moz-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-position: center right; background-repeat: no-repeat;
	
}


.content-container-anchor .wpcf7 select {
	-webkit-appearance: none; -moz-appearance: normal; appearance: normal;
	display:block;
	padding:11px 7px 11px 8px;
	-webkit-padding-start: 12px; -webkit-padding-end: 47px; -webkit-user-select: none;-moz-user-select: none;
	margin-right:7px;
	font-size:14px;
	color: #4e4e4e;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url(images/select-arrow.png), -webkit-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background:linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-image: -moz-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-position: center right; background-repeat: no-repeat;
}

.wpcf7 input.wpcf7-date {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url(images/date-icon.png),  -webkit-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background:url(images/date-icon.png), linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-image: url(images/date-icon.png),-moz-linear-gradient(#ffffff, #f7f7f7 40%, #f7f7f7);
	background-position: center right; background-repeat: no-repeat;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
 body.home .wpcf7 input {padding-bottom:10px;}
}


/*
=============================================== 06. FOOTER STYLES ===============================================
*/
footer { font-size:13px; }
footer .widget {padding-top:32px; margin-bottom:38px; padding-bottom:21px;}
#copyright {padding:21px 0px 18px 0px;  border-top:1px solid #3d3e3f; border-color:rgba(250, 250, 250, 0.13); }
footer ul {margin:0px; padding:0px; list-style:none;}
footer ul li {margin-bottom:4px;}
footer #copyright .lastcolumn {text-align:right; position:relative; bottom:1px;}


/*
=============================================== 07. BLOG STYLES ===============================================
*/
h3.entry-title, .index-excerpt {-ms-word-wrap: break-word; word-wrap: break-word;}
.blog-featured {padding-bottom:16px;}
.post-meta {color:#999999; margin:-2px 0px 15px 0px; font-size:12px;}
.post-meta a {color:#4e4e4e;}
.post-meta span {padding:0px 2px;}
#image-navigation {padding:5px 0px 10px 0px;}
.entry-meta {padding:10px 0px 0px 0px; font-size:13px; font-style:italic;}
.taxonomy-description {padding:0px 0px 10px 0px;}

p.form-allowed-tags {font-size:12px;}

.commentlist {
	padding-top:15px;
	float:left;
	list-style: none;
	margin: 0 auto;
	width:78%;
	position:relative;
	left:101px;
}

.commentlist li.comment {
	background: #fbfbfb;
	border:1px solid #e1e1e1; 
	margin: 0 0 1.625em 0 !important;
	padding: 0.2em 1.4em 0.25em 1.4em;
	list-style:none ;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none ;
	margin:0px;
}
.commentlist .children li.comment {
	border-right:none;
	border-top:none;
	border-bottom:none;
	border-left: 1px solid #dadada;
	margin: 0em 0 0 0;
	padding:1em 1.6em 0em 2em;
	position: relative;
}
.commentlist .avatar {left: -102px; -webkit-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; -moz-box-shadow: 0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc;  padding: 0; position: absolute; top: 0px;}
.commentlist .pingback { margin: 0 0 1.625em; padding: 0 1.625em; }
ol.commentlist ul.children, ol.commentlist ul.children  li {
	list-style: none;
	margin:0px;
}

#respond p.comment-form-author input, p.comment-form-email input, p.comment-form-url input, p.comment-form-comment textarea {display:block; padding-top:5px;}
#respond p.comment-form-author, p.comment-form-email, p.comment-form-url, p.comment-form-comment {font-size:90%;}

.commentlist .children li.comment .avatar {top:10px;}
.commentlist .children li.comment .fn { display: block; font-size:12px;}
.comment-meta .fn {font-weight: bold; display: block; font-size:14px; color:#4c4c4c;}
.comment-meta .fn a {font-weight:bold;}
.comment-meta a {text-decoration:none;}
.comment-meta {
	color: #666;
	font-size: 11px;
	padding-top:12px;
	padding-bottom:5px;
}
.commentlist .children li.comment .comment-meta {
	margin-left:45px ;
	padding-top:0px;
}
.commentlist .children li.comment .comment-content {
	margin: 0;
	padding:0px;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -10px;
	top:10px;
	position: absolute;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}

a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}
.commentlist > li.pingback:before { content: ''; }
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #e4e4e4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	font-size: 10px;
	font-family:Arial, Sans-serif;
	padding: 2px 9px;
	text-decoration: none;
	margin-bottom:20px;
}

/*
=============================================== 08. ROOMS STYLES ===============================================
*/
h2.title-anchor span.price-room {float:right; font-size:18px; padding-top:11px; color:#4e4e4e;}
h2.title-anchor span { color:#4e4e4e;}
.room-list-side {text-align:center; padding-top:15px; padding-bottom:20px; border-left:1px solid #e5e5e5;}
h5.price-rooms {margin-bottom:6px; font-size:22px;}
.rooms-per-night {text-transform:uppercase; font-size:12px; padding-bottom:12px;}
.room-featured {padding-bottom:15px;}


/*
=============================================== 09. SIDEBAR & WIDGET STYLES ===============================================
*/
#sidebar {color:#8b8b8b;}
#sidebar ul {list-style:none; margin:0px; padding:0px;}
#sidebar ul li {border-bottom:1px dotted #d9d9d9;  padding-bottom:7px; margin-bottom:7px;}
#sidebar ul li:before {content: "»"; padding-right:7px;}

#sidebar ul ul {margin-left:15px; margin-top:15px;}
#sidebar ul ul li {border-bottom:0px; padding-bottom:0px;}

.sidebar-divider {height:1px; width:100%; margin-bottom:30px;}


/* MailChimp Widget */
span.asterisk {color:red;}
#mc_embed_signup label {display:block;}
#mc_embed_signup input:focus {outline: none;}
#mc_embed_signup input {
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	background:#ffffff;
	border:none;
	font-size:13px;
	padding:6px 5px 6px 5px;
	width:50%;
	display:inline-block;
	float:left;
}

/* Flickr Widget */
#flickr-widget ul {margin:0; padding:0;background:none; }
#flickr-widget ul li { padding:0px; margin:0px; list-style:none; display:inline; border:none; background:none;}
#flickr-widget ul li:before {display:none; padding:0px; margin:0px;}
#flickr-widget ul li a {display:inline; background:transparent; padding:0px; background:none;}
#flickr-widget ul li img {border:1px solid #ccc9c2; padding:4px; background:#fff; width:72px; height:72px;  margin:0px 10px 10px 0px;-khtml-opacity: 1; opacity: 1; filter:alpha(opacity=100); -moz-opacity: 1;  -webkit-transition: opacity 300ms ease-in-out; -moz-transition: opacity 300ms ease-in-out; -o-transition: opacity 300ms ease-in-out; -ms-transition: opacity 300ms ease-in-out;	transition: opacity 300ms ease-in-out; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1); box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
#flickr-widget ul li img:hover { -khtml-opacity: 0.7; opacity: 0.7; filter:alpha(opacity=70); -moz-opacity: 0.7;}
footer #flickr-widget ul li img { width:65px; height:65px; padding:3px;}


#wp-calendar th {
padding:3px 0;
text-align:center;
}

#wp-calendar td {
padding: 4px 0;
text-align: center;
}

#wp-calendar {
width: 90%;
}


/* Tabbed Styles */

.progression-tab-container {margin-bottom:25px;}
body.home .progression-tab-container  div {margin-left:0px;}
.progression-etabs { 
	margin: 0; 
	padding: 0; 
	list-style:none;
	border-bottom:none;
	}
	
.progression-tab { 
	margin-right:-4px; 
	display: inline-block; 
	zoom:1; 
	border:none;
	background: transparent;
	}
.lt-ie8 .progression-tab {display:inline;}	
.progression-tab a { 
	font-size: 14px; 
	line-height: 1; 
	display: block; 
	padding: 14px 30px 14px 30px; 
	text-align:center;
	outline: none;  
	text-decoration:none;
	color:#2f2f2f;
	font-weight:300;
	letter-spacing:1px;
	}
	
.progression-tab.active { 
	position: relative; 
	background: #464646;
	padding-top:0px;
}

body #main .progression-tab a.active {  
	color:#ffffff;
}

.progression-tab-container .progression-div {
	padding:30px 30px 30px 30px;
	background: #464646; 
	color:#dddddd;
}


/* Toggle Styles */

ul.progression-toggle { margin:0px;  padding:0px; 	list-style:none;}
	
ul.progression-toggle li {
	background:#f9f9f9; 
	list-style-type:none; 
	cursor:pointer;  
	border:1px solid #dddddd; 
	padding:5px 5px 5px 5px; 
	margin:0px 0px 15px 0px;
}
	
ul.progression-toggle div.div_progression_toggle {
	cursor: auto; 
	display: none; 
	padding:0px 20px; 
	margin-bottom:15px; 
	text-decoration: none;
}
	
ul.progression-toggle div.div_progression_toggle:hover { text-decoration:none; }
	
ul.progression-toggle li:before {
	content: "+"; 
	position:relative; 
	width:8px; 
	text-align:center; 
	height:11px; 
	margin:0px 5px 0px 5px; 
	line-height:1; 
	padding:0px; 
	display:inline-block; 
	font-size:10px;
}
	
ul.progression-toggle li.progression_active:before { content: "-";  }
ul.progression-toggle div.progression_open { display:block; }
.lt-ie8 ul.progression-toggle div.div_progression_toggle { display:block; }


/*
=============================================== 10. BUTTON STYLES ===============================================
*/
body a.progression-button, .button-anchor, body #contact-wrapper input.submit, body #reply input.submit, body #anchor-check-in  .wufoo input.submit, a.more-link, #respond input#submit, .wpcf7 input.wpcf7-submit, body.home .wpcf7 input.wpcf7-submit {
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	font-weight:normal;
	padding:13px 19px;
	margin-right:0px;
	width:auto;
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
	color:#4e4e4e;
	font-size:13px;
	background-color:#dddddd;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); 
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
	border:1px solid #b2b2b2;
	border-color:rgba(0, 0, 0, 0.16);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#d4d4d4));
	background-image: -webkit-linear-gradient(top, #e5e5e5, #d4d4d4); 
	background-image: -moz-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -o-linear-gradient(top, #e5e5e5, #d4d4d4);
	
}
body.home .wpcf7 input.wpcf7-submit {padding-bottom:12px;}

body a.progression-button:hover, .button-anchor:hover, body #contact-wrapper input.submit:hover, body #reply input.submit:hover, body #anchor-check-in  .wufoo input.submit:hover, a.more-link:hover, #respond input#submit:hover, .wpcf7 input.wpcf7-submit:hover, body.home .wpcf7 input.wpcf7-submit:hover {
	color:#ffffff;
	background-color:#6e6e6e;
	border-color:rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#515151));
	background-image: -webkit-linear-gradient(top, #888888, #515151); 
	background-image: -moz-linear-gradient(top, #888888, #515151);
	background-image: -ms-linear-gradient(top, #888888, #515151);
	background-image: -o-linear-gradient(top, #888888, #515151);	
}

#mc_embed_signup input#mc-embedded-subscribe {
	text-decoration:none; cursor: pointer; display:inline-block; 
	border-left:1px solid #afafaf; 
	padding:7px 7px 6px 7px; 
	font-size:12px;
	position:relative; left:-2px; 
	width:auto; 
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	color:#4e4e4e;
	background-color:#dddddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#d4d4d4));
	background-image: -webkit-linear-gradient(top, #e5e5e5, #d4d4d4); 
  	background-image: -moz-linear-gradient(top, #e5e5e5, #d4d4d4);
   	background-image: -ms-linear-gradient(top, #e5e5e5, #d4d4d4);
   	background-image: -o-linear-gradient(top, #e5e5e5, #d4d4d4);
}
#mc_embed_signup input#mc-embedded-subscribe:hover {
	color:#ffffff; 
	background-color:#6e6e6e;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#515151));
	background-image: -webkit-linear-gradient(top, #888888, #515151); 
	background-image: -moz-linear-gradient(top, #888888, #515151);
	background-image: -ms-linear-gradient(top, #888888, #515151);
	background-image: -o-linear-gradient(top, #888888, #515151);
}


body .pagination a {
	margin-right:4px;
	text-decoration:none; line-height:1; cursor: pointer; display:inline-block; 
	font-weight:normal;
	padding:8px 12px;
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
	color:#4e4e4e;
	font-size:13px;
	background-color:#dddddd;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); 
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
	border:1px solid #b2b2b2;
	border-color:rgba(0, 0, 0, 0.16);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#d4d4d4));
	background-image: -webkit-linear-gradient(top, #e5e5e5, #d4d4d4); 
	background-image: -moz-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -ms-linear-gradient(top, #e5e5e5, #d4d4d4);
	background-image: -o-linear-gradient(top, #e5e5e5, #d4d4d4);
}
body .pagination a.selected, body .pagination a:hover {	
	color:#ffffff;
	background-color:#6e6e6e;
	border-color:rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#515151));
	background-image: -webkit-linear-gradient(top, #888888, #515151); 
	background-image: -moz-linear-gradient(top, #888888, #515151);
	background-image: -ms-linear-gradient(top, #888888, #515151);
	background-image: -o-linear-gradient(top, #888888, #515151);
}




.progression-mini {
	padding: 5px 6px;
	font-size:11px;
	}
	
body #main .progression-small {
	padding: 8px 10px; 
	font-size:11px;
	}
	
	
body #main .progression-large {
	padding:17px 40px; font-size:15px;
	}

.progression-square {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	}
	
.progression-rounded {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	}


body a.progression-red {
	color:#fff;
	background: #da4f49;
	border-color:#da4f49;
	}
	
body a.progression-red:hover {
	background: #ee5f5b;
	border-color:#da4f49;
	}

body a.progression-blue {
	color: #ffffff;
  	background: #006dcc;
	}
	
body a.progression-blue:hover {
	background: #0088cc;
	color: #ffffff;
	}
	

body a.progression-green {
	color: #ffffff;
  	background: #5bb75b;
	}
	
body a.progression-green:hover {
	background: #62c462;
	border-color: #5bb75b;
	color: #ffffff;
	}	



body a.progression-light-blue {
	color: #ffffff;
	background: #49afcd;
	border-color: #49afcd;
	}

body a.progression-light-blue:hover {
	background: #5bc0de;
	border-color: #5bc0de;
	color: #ffffff;
	}

body a.progression-orange {
	color: #ffffff;
	background: #faa732;
	border-color: #faa732;
	}

body a.progression-orange:hover { 
	background: #fbb450; 
	border-color: #fbb450; 
	color: #ffffff;
	}


body a.progression-black {
	color: #ffffff;
	background: #363636;
	border-color: #363636;
	}

body a.progression-black:hover { 
	background: #444444; 
	border-color: #444444; 
	color: #ffffff;
}


/*
=============================================== 11. FEATURED SLIDER and PAGE TITLE ===============================================
*/
 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0px auto; position: relative; zoom: 1; overflow:hidden;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}
.flexslider img {width:100%;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {z-index:5;  width: 34px; height: 35px; margin: -20px 0 0; display: block; background: url(images/slider/arrows.png) no-repeat bottom left; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: bottom right; right: 0px; }
.flex-direction-nav .flex-prev {background-position: bottom left;  left: 0px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 20px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 20px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

#main .flex-direction-nav .flex-next { right: 20px; }
#main .flex-direction-nav .flex-prev {left: 20px;}


/* Control Nav */
.flex-control-nav { z-index:5; width: 100%; position: absolute; bottom:62px; text-align: center; }
.flex-control-nav li {margin: 0 1px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 18px; height: 20px; display: block; background: url(images/slider/bg_bullets.png) 0px -25px no-repeat;  cursor: pointer; text-indent: -9999px;}
.flex-control-paging li a:hover { background-position:0px -48px; }
.flex-control-paging li a.flex-active {  background-position:0px -2px; cursor: default; }
body #main .flex-control-paging li a { -webkit-transition: none; -moz-transition: none; none; -o-transition: none; }


.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.gallery-anchor .flex-control-nav { bottom:22px;  }



@media screen and (max-width: 940px) {
  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {display:none !important;}
}

/* Caption style */
.flex-caption .slider-container {position: absolute; bottom:72px; z-index:4;}


.flexslider a:hover img {opacity:1; filter:alpha(opacity=100); }

.flex-caption .caption-highlight, .caption-text {text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);}
.caption-text { text-transform:uppercase; font-size:25px; font-weight:bold;}
.flex-caption .caption-highlight {   font-size:33px; font-weight:400;  margin-top:-7px;  margin-bottom:0px;}
.flex-caption .caption-highlight p {margin-bottom:0px;}

.lt-ie9 .flex-direction-nav .flex-prev {opacity: 1; left: 15px;}
.lt-ie9 .flex-direction-nav .flex-next {opacity: 1; right: 15px;  }



/*
=============================================== 12. CONTACT STYLES ===============================================
*/
#map-contact {width:100%; height:360px; margin-bottom:35px; margin-top:0px;}
#map-contact img {max-width:none; height: auto; }

#contactform {margin-top:25px;}
#contactform label.error {line-height:1; font-weight:normal; display:block; width:100%; font-style:italic; padding-left:2px; height:25px;  padding-top:4px; margin-bottom:-33px; position:relative; top:-15px; font-size:11px; color:#dd8b8b;}
#contactform input.error { border: 1px dotted #f4cbcb; background:#f9d1d1; }
p.error {color:#dd8b8b; font-weight:bold;}
p.success {color:#64ba7c; font-size:14px; font-weight:bold; padding-bottom:2px; }
p.success2 {padding-bottom:8px;}
#contactform span, span.required {color:#ff5c5f;}
#contactform div {padding-bottom:10px;}
#contactform label { display:block; vertical-align: top;  padding-bottom:4px;}
#contactform input#contactname, #contactform input#email, .wpcf7 input, #respond input, .wpcf7 input {width:50%;}
#contactform textarea#message, .wpcf7 textarea, #respond textarea, .wpcf7 textarea  {width:75%;}
#contactform input.button, .wpcf7 input.wpcf7-submit, #respond input#submit, #reply input.submit, #respond input#submit, .wpcf7 input.wpcf7-submit {width:auto; }
#contactform input, #contactform textarea, #respond input, #respond textarea, .wpcf7 input, .wpcf7 textarea {
	margin:1px 0px 15px 0px;
	background-color:#f7f7f7; 
	border:1px solid #cccccc; 
	padding:8px; 
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow:    inset 0px 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:         inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}


/*
=============================================== 13. NAVIGATION ===============================================
*/
/* -------------------- A. ESSENTIAL STYLES -------------------- */
/*** ESSENTIAL STYLES ***/
nav select {display:none;}
.sf-menu, .sf-menu * {margin:0; padding:0; list-style:none;}
.sf-menu {line-height:	1.0;}
.sf-menu ul {position:	absolute; top:-999em;  width: 10em; /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width: 100%;}
.sf-menu li:hover {visibility:		inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li {float:			left ;position:		relative;}
.sf-menu a {display:block;  position:relative;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {left:	0; top:65px; /* match top ul list item height */z-index: 99;}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 10em; /* match ul width */ top:0;}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {top: -999em;}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */ top:0;}


/* -------------------- B. DEMO SKIN -------------------- */
.sf-menu a {padding:35px 18px 32px 20px;}  /* Top Menu Size */
body .sf-menu li:hover ul, body .sf-menu li.sfHover ul {top:82px;} /* Move sub-menu down */

nav {padding-left:6px; position:relative; z-index:4; float:left; -webkit-font-smoothing: subpixel-antialiased; }
#contact-header { -webkit-font-smoothing: subpixel-antialiased;}
.sf-menu a {
	 -webkit-transition: all .4s ease; -moz-transition: all .4s ease; transition: all .4s ease; -o-transition: all .4s ease;
	text-decoration:none;
	line-height:1;
}
 /* DEFAULT LINK  */
.sf-menu a, .sf-menu a:visited  {
	text-shadow: none;
	font-size:15px;
	text-transform:uppercase;
}

 /* HOVER BACKGROUND */
.sf-menu a:hover, .sf-menu li a:hover, .sf-menu a:hover, .sf-menu a:visited:hover, .sf-menu li.sfHover a, .sf-menu li.sfHover a:visited {

} 


.sf-menu li.sfHover li a, .sf-menu li.sfHover li a:visited, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li a:visited, .sf-menu li.sfHover li li li a, .sf-menu li.sfHover li li li a:visited, .sf-menu li.sfHover li li li li a, .sf-menu li.sfHover li li li li a:visited {
	font-size:13px;
	text-transform:normal;
	font-weight:500;
	text-transform:none;
	text-shadow: none;
	color:#ffffff;
}


.sf-menu li li:hover, .sf-menu li li.sfHover, .sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a:active, .sf-menu li li.sfHover a, .sf-menu li.sfHover li a:visited:hover, .sf-menu li li:hover a:visited,
.sf-menu li li li:hover, .sf-menu li li li.sfHover, .sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a:active, .sf-menu li li li.sfHover a, .sf-menu li li.sfHover li a:visited:hover, .sf-menu li li li:hover a:visited,
.sf-menu li li li li:hover, .sf-menu li li li li.sfHover, .sf-menu li li li li a:focus, .sf-menu li li li li a:hover, .sf-menu li li li li a:active, .sf-menu li li li li.sfHover a, .sf-menu li li li.sfHover li a:visited:hover, .sf-menu li li li li:hover a:visited,
.sf-menu li li li li li:hover, .sf-menu li li li li li.sfHover, .sf-menu li li li li li a:focus, .sf-menu li li li li li a:hover, .sf-menu li li li li li a:active, .sf-menu li li li li li.sfHover a, .sf-menu li li li li.sfHover li a:visited:hover, .sf-menu li li li li li:hover a:visited  {
	outline: 0;
	-webkit-transition: all .6s ease; -moz-transition: all 1s ease; transition: all .6s ease; -o-transition: all .6s ease;
	background-image:url(images/transparency-fallback.png);
	background: rgba(255, 255, 255, 0.04);
}

.sf-menu ul {background-image:url(images/transparency-fallback.png); 
	-moz-box-shadow:    inset 0 1px 3px rgba(0, 0, 0, 0.5);
	   -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	   box-shadow:         inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.sf-menu li li a {padding:15px 15px; }
.sf-menu li li, .sf-menu li li li, .sf-menu li li li li, .sf-menu li li li li li { margin:0px;  }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {outline:		0;}


/*** arrows **/
.sf-menu a.sf-with-ul {padding-right: 	2.25em;	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top:			.8em; background-position: 0 -100px; /* use translucent arrow for modern browsers*/}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px; /* arrow hovers for modern browsers*/}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/}

/*** shadows for all but IE6 ***/
.sf-shadow ul { background:	url('images/shadow.png') no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px;}
.sf-shadow ul.sf-shadow-off {background: transparent;}


/*
=============================================== 14. DEFAULT GRID ===============================================
*/
.grid2column, .grid3column, .grid3columnbig, .grid4column, .grid4columnbig {float:left; margin-right:3%; min-height:1px; }
.grid2column { width: 48.5%;}
.grid3column {width: 31.3%;  }
.lt-ie8 .grid3column {width: 31%;  }
.grid3columnbig {width:65.4%;}
.grid4column {width: 22.7%;  }
.lt-ie8 .grid4column {width: 22%;  }
.grid4columnbig {width:73.8%; }

body .lastcolumn {margin-right:0% !important;}


/* Footer Widget Columns */
#footer-widgets .footer-2-column .widget, #footer-widgets .footer-3-column .widget, #footer-widgets .footer-4-column .widget {float:left; margin-left:1%; margin-right:1%; min-height:2px;}
#footer-widgets .footer-2-column .widget { width: 48%; }
#footer-widgets .footer-3-column .widget { width: 31%; }
#footer-widgets .footer-4-column .widget {width: 23%;}





/*
=============================================== 15. SOCIAL ICONS ===============================================
*/
@font-face {
    font-family: 'Genericons';
    src: url('genericons/font/genericons-regular-webfont.eot');
    src: url('genericons/font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('genericons/font/genericons-regular-webfont.woff') format('woff'),
         url('genericons/font/genericons-regular-webfont.ttf') format('truetype'),
         url('genericons/font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
 * All Genericons
 */

.lt-ie8 .icons {display:none !important;}
.icons {text-align:center; margin:18px 0px 26px 0px;}
footer .icons {text-align:right; margin:0px;}
#sidebar .icons {text-align:left; margin:15px 0px 0px 0px; line-height:2.4;}
.genericon:hover {opacity:0.75;}
.genericon {
	display: inline-block;
	width: 18px;
	height:18px;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	padding:3px 3px 4px 3px; 
	margin-right:3px;
}

a .genericon {  color:#ffffff; text-decoration:none;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
	

a.rss-ico .genericon {background:#f5a523;}
a.facebook-ico .genericon {background:#3b64a1;}
a.twitter-ico .genericon {background:#35a6da;}
a.vimeo-ico .genericon {background:#468cb8;}
a.youtube-ico .genericon {background:#c43e34;}
a.pinterest-ico .genericon {background:#e24956;}
a.dribbble-ico .genericon {background:#f36798;}
a.wordpress-ico .genericon {background:#1f7993;}
a.flickr-ico .genericon {background:#0063db;}
a.google-ico .genericon {background:#008000;}
a.linkedin-ico .genericon {background:#1b75aa;}
a.tumblr-ico .genericon {background:#41607d;}

a.rss-ico .genericon, a.facebook-ico .genericon, a.twitter-ico .genericon, a.vimeo-ico .genericon, a.youtube-ico .genericon, a.google-ico .genericon,
a.pinterest-ico .genericon, a.dribbble-ico .genericon, a.wordpress-ico .genericon, a.flickr-ico .genericon, a.linkedin-ico .genericon, a.tumblr-ico .genericon  {
	background-color:#676767;
	background-color: rgba(255, 255, 255, 0.5);
}
header a .genericon, footer #copyright a .genericon  {
	font-size: 12px;
	padding:5px 3px 0px 3px; 
	text-align:center;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
	opacity:0.6;
}

header a .genericon:hover, footer #copyright  a .genericon:hover {opacity:1; background-color:#eaeaea; background-color: rgba(255, 255, 255, 0.9);}



#sidebar a .genericon {
	text-align:center;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
	color:#fff;
	background:#ccc !important;
}


footer .widget .icons {text-align:left; margin:0px;} 
footer a .genericon {
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;

}


/**
 * IE7 and IE6 hacks
 */
.genericon {*overflow: auto;*zoom: 1;*display: inline;}

/**
 * Individual icons
 */

/* Post formats */
.genericon-standard:before { content: '\f100'; }
.genericon-aside:before { content: '\f101'; }
.genericon-image:before { content: '\f102'; }
.genericon-gallery:before { content: '\f103'; }
.genericon-video:before { content: '\f104'; }
.genericon-status:before { content: '\f105'; }
.genericon-quote:before { content: '\f106'; }
.genericon-link:before { content: '\f107'; }
.genericon-chat:before { content: '\f108'; }
.genericon-audio:before { content: '\f109'; }

/* Social icons */
.genericon-github:before { content: '\f200'; }
.genericon-dribbble:before { content: '\f201'; }
.genericon-twitter:before { content: '\f202'; }
.genericon-facebook:before { content: '\f203'; }
.genericon-facebook-alt:before { content: '\f204'; }
.genericon-wordpress:before { content: '\f205'; }
.genericon-googleplus:before { content: '\f206'; }
.genericon-linkedin:before { content: '\f207'; }
.genericon-linkedin-alt:before { content: '\f208'; }
.genericon-pinterest:before { content: '\f209'; }
.genericon-pinterest-alt:before { content: '\f210'; }
.genericon-flickr:before { content: '\f211'; }
.genericon-vimeo:before { content: '\f212'; }
.genericon-youtube:before { content: '\f213'; }
.genericon-tumblr:before { content: '\f214'; }

/* Meta icons */
.genericon-comment:before { content: '\f300'; }
.genericon-category:before { content: '\f301'; }
.genericon-tag:before { content: '\f302'; }
.genericon-time:before { content: '\f303'; }
.genericon-user:before { content: '\f304'; }
.genericon-day:before { content: '\f305'; }
.genericon-week:before { content: '\f306'; }
.genericon-month:before { content: '\f307'; }
.genericon-pinned:before { content: '\f308'; }

/* Other icons */
.genericon-search:before { content: '\f400'; }
.genericon-unzoom:before { content: '\f401'; }
.genericon-zoom:before { content: '\f402'; }
.genericon-show:before { content: '\f403'; }
.genericon-hide:before { content: '\f404'; }
.genericon-close:before { content: '\f405'; }
.genericon-close-alt:before { content: '\f406'; }
.genericon-trash:before { content: '\f407'; }
.genericon-star:before { content: '\f408'; }
.genericon-home:before { content: '\f409'; }
.genericon-mail:before { content: '\f410'; }
.genericon-edit:before { content: '\f411'; }
.genericon-reply:before { content: '\f412'; }
.genericon-feed:before { content: '\f413'; }
.genericon-warning:before { content: '\f414'; }
.genericon-share:before { content: '\f415'; }
.genericon-attachment:before { content: '\f416'; }
.genericon-location:before { content: '\f417'; }
.genericon-checkmark:before { content: '\f418'; }
.genericon-menu:before { content: '\f419'; }
.genericon-top:before { content: '\f420'; }
.genericon-minimize:before { content: '\f421'; }
.genericon-maximize:before { content: '\f422'; }
.genericon-404:before { content: '\f423'; }

/* Generic shapes */
.genericon-uparrow:before { content: '\f500'; }
.genericon-rightarrow:before { content: '\f501'; }
.genericon-downarrow:before { content: '\f502'; }
.genericon-leftarrow:before { content: '\f503'; }




/*
=============================================== 16. PRINT STYLES ===============================================
*/
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/*
=============================================== 17. LIGHTBOX STYLES ===============================================
*/
div.pp_default a {-webkit-transition-duration: 0ms; -moz-transition-duration: 0ms; transition-duration: 0ms;}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
